@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ArticleList>

@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    Layout = "master.cshtml";


}

<div class="w-full h-[500px] bg-cover bg-center bg-no-repeat flex justify-start items-end bg-holder"
     style="background-image:url('@Model.MainImage.GetCropUrl(1903, 628)')">
    <h1 class="lg:text-[50px] text-[3rem] md:text-[40px]  font-[200] font-inter text-[#BDBDBD] leading-[46px] p-10">
        Our <br />
        <span class="lg:text-[50px] text-[2rem]  md:text-[40px] md:pr-[20px] lg:pr-0 font-bold text-bluesh">
            Blogs
        </span>
    </h1>
</div>
@if (Model.ContentRows != null)
{

    <div class="diagonal-bg">
        <div class="lg:mx-[15%] mx-[5%] pt-1 ">
            <!--Search Area-->
            <!--Search Area-->

            <div class="w-full flex flex-col gap-4 items-center mt-8">
                <h1 class="lg:text-[3rem] md:text-[2rem] text-[1.5rem] font-medium text-bluesh font-roboto text-center">
                    Welcome to Digital Hub Blogs
                </h1>
                <p class="lg:text-[1.5rem] text-[1rem] text-bluesh/60 font-thin text-center font-roboto lg:w-[70%] w-[90%]">
                    Explore insights, tips and consultation about Data Science, AI
                    Transformation and Outsourcing
                </p>
            </div>
            <div class="w-full">

                @Html.GetBlockListHtml(Model.ContentRows)
            </div>


        </div>
    </div>


}
