@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.CategoriesPage>
@using Clean.Core.Models.ViewModels
@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var siteSection = Model.AncestorOrSelf(2);
    var selection = siteSection.Children.Where(x => x.IsVisible());
 
}

@foreach (var item in selection)
{
    <a class="nav-link nav-link--black nav-link--air-bottom ">@item.Name</a>
}


@if (Model.ContentRows != null)
{

    <div class="diagonal-bg">
        <div class="lg:mx-[15%] mx-[5%] pt-1 ">
            <!--Search Area-->
            <!--Search Area-->

            <div class="w-full flex flex-col gap-4 items-center mt-8">
                <h1 class="lg:text-[3rem] md:text-[2rem] text-[1.5rem] font-medium text-bluesh font-roboto text-center">
                    Welcome to Digital Hub Blogs
                </h1>
                <p class="lg:text-[1.5rem] text-[1rem] text-bluesh/60 font-thin text-center font-roboto lg:w-[70%] w-[90%]">
                    Explore insights, tips and consultation about Data Science, AI
                    Transformation and Outsourcing
                </p>
            </div>
            <div class="w-full">

                @Html.GetBlockListHtml(Model.ContentRows)
            </div>


        </div>
    </div>


}